.main_login {
    display: flex;
    height: 100vh;
}

.banner{
    background-color: #b51d44;
    flex: 1;
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
}

.login{
    width: 650px;
}

.event{
    width: 250px;
}

.section_login {
    flex: 1;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form_login {
    color: white;
    width: 60%;
    height: 50%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.campo_input {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.campo_login {
    width: 100%;
}

.campo_input input {
    height: 30px;
    margin-top: 6px;
    padding: 0 10px;

    border-left: none;
    outline: none;
    border-right:none ;
    border-top: none;
    border-color: rgb(184, 182, 182);
   
}

/* .section_login img{
    width: 170px;
    margin-bottom: 90px;
} */

.link_senha a{
    color: rgb(165, 161, 161);
    font-size: small;
}

@media screen and (max-width:768px) {
    .banner {
        display: none;
    }
}